/* Your button CSS file */
.btn-medium {
  text-decoration: none;
  color: rgb(200,200,200);
  border: 1px solid rgb(200,200,200);
  border-radius: 50px;
  padding: 15px 25px;
  transition: 0.3s;
}

.btn-medium:hover {
  color:rgb(100,100,100);
  border: 1px solid rgb(100,100,100);
}

.btn-treehouse {
  text-decoration: none;
  background-color: #6AD58B;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 15px 25px;
  transition: 0.3s;
}

.btn-treehouse:hover {
  background-color:##3ac162;
 }

 .btn-yours {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: #112d4e;
  border: 1px solid #112d4e;
  font-weight: bold;
  border-radius: 25px;
  padding: 15px 25px;
  transition: 0.3s;
}

.btn-yours:hover {
  opacity: 0.8;
  text-shadow: 2px 2px 2px rgba(200,200,200,0.9);
 }
